







/*a {
	color:red;
}

a:hover{

	color:pink;
	
}

a:active{

	color:blue;
}

a:visited{
	color:green;
} Exercice 01  */
/*
.p-block {
	background-color: yellow;
	color:red;
	padding: 0.5rem
}

.adj{
	border:double #32a1ce;
	padding: 0.5rem
}Exercice 2*/